<main>
  <h3>Case 02</h3>
  <div class="question">
    <p>5. Buatlah fungsi untuk menghitung total komentar yang ada, termasuk
      semua balasan komentar. Berdasarkan data di atas, total komentar adalah 7
      komentar.</p>
    <ul class="answer">
      <li>Total Comments: {{totalComments}}</li>
      <ul>
        <li>Main Comments: {{MainComments}}</li>
        <li>Sub Comments: {{SubComments}}</li>
        <li>Sub Subcomment: {{SubSubcomments}}</li>
      </ul>
    </ul>
  </div>
</main>