<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} qbit Internship Test</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      |
      <a href="/case01">case 01</a>
      |
      <a href="/case02">case 02</a>
    </nav>
    <hr />

    {{{body}}}
 
  </body>
</html>